:root {
  --primary-color: #1877f2;
  --secondary-color: #181823;
  --light-gray: #ebebed;
  --color-white: #fff;
  --light-primary: #4db5f9;
  --border-color: #2c3333;

  --box-shadow: 0rem 1rem 5rem rgb(0 0 0 / 5%);
  --rounded: 50px;

  --max-width-lg: 114rem;

  //fonts

  --font-family-primary: 'Poppins', 'sans-serif';
  --font-family-secondary: 'Roboto', 'sans-serif';
}
